
.top-container{
  background-color: blue;
  position: relative;
  height: 200px;
}

img{
  max-width: 100%;
}


.middle-container{
  background-color: black;
  padding: 3% 2%;
}
.card-img-top {
  margin: auto;
}

.card-body {
    background-color:black;
    color: white;
    text-align: center;
  }
